#heading {
    font-family: Libre Baskerville;
    color: white;
    font-size: 2vw;
    justify-content: space-around;
    align-items: center;
    background: rgb(79, 79, 79);
    text-align: center;
}

body {
    font-family: work sans;
    font-size: 20px;
}

html, body {
    height: 100%;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.link{
    color: white;
    font-size: 2vw;
    text-decoration:none;
} 

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.nav-bar{
    background: rgb(79, 79, 79);
}

.nav-links{
display: flex;
margin: 0;
padding:0;
width:65%;
}

.nav-links li{
    list-style: none;
    list-style-type: none;
}

li{
    margin:auto;
}

.burger{
    justify-content: right;
    display: none;
    cursor: pointer;
}

.burger div{
    width:25px;
    background: hsl(0, 0%, 100%);
    height: 3px;
    margin:5px;
}

.split {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
/*main page*/
.main-container {
    /* background-image: url('Pictures/mmbackimg.jpg');
    background-size: 100% auto; */
    color:hsl(0, 0%, 100%);
    height: 100%;
}
.main-content {
    /* text-align: center;
    width: 50%; */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
.main-info {
    margin-top: 20%;
    margin-left: 30%;
    width: 65%; /* Could be more or less, depending on screen size */
    color: black;
}

/* speed test */
.s-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    /* centering content */
    margin: 0;
    /* no scroll bar */
    background-color: rgb(113, 151, 194);
}

.s-container {
    background-color:rgba(235, 223, 228, 0.801);
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    /* setting default width */
    max-width: 90%;
    /* so it dont go over the screen */
}

.timer {
    position: absolute;
    top: 20rem;
    /* pushing timer to the top */
    font-weight: bold;
    font-size: 3rem;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    /* to lineup the given quote and the written quote */

}

.quote-input {
    background-color: transparent;
    border: 2px solid #299c5d;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.quote-input:focus {
    border-color: black;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    background-color: rgb(204, 182, 182);
    text-decoration: underline;
}



@media screen and (max-width:700px){
    body{
        overflow-x:hidden;
        font-family: work sans;
        font-size: 2.6vw;
    }
    .nav-links{
        position: absolute;
        right:0px;
        height: 95vh;
        top:8vh;
        background-color: rgba(255, 166, 208, 0.801);
        display: flex;
        flex-direction: column;
        align-items:center;
        width:40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .link{
        color: white;
        font-size: 2vw;
        text-decoration:none;
    }
    .split {
        flex: 1 100%;
        flex-grow: inherit;
    }
    .burger{
        display: block;
    }
    #body{
        font-size:3vw;
    }
    #heading{
        font-size:19px;
    }
    .nav-bar{
        background: rgba(255, 0, 0, 0);
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0%;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}

/* number memory page */
#num {
    -webkit-user-select: none;
user-select: none;
}

